*{
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    scroll-behavior: smooth;
}
html{
    scroll-padding-top: 50px;
}

/* -------------------------------------------TITULO  */
.titulo{
    font-size: 25pt;
    width: 100%;
    text-align: center;
}
/* -------------------------------------------PALABRAS  */
.palabras{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.712);
    padding-top: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: -2px 3px 13px 1px rgb(0 0 0 / 38%);}
    
.palabras__imagen{
    width: 100%;
    padding: 15px;
    padding-left: 25px;
}
.palabras__txt{
    width: 100%;
    padding: 40px;
    text-align: center;
}

/* -------------------------------------------HEADER */
.header{
    width: 100%;
    background-color: rgb(63, 84, 122);
    box-shadow: 0px 6px 10px 3px rgba(0,0,0,0.65);
    position: fixed;
    z-index: 100;
}
.header__menu__ul{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.header__menu__ul li{
    list-style: none;  
    padding: 15px 0;
}
.header__menu__ul li a:hover{
    animation: estirar 1.5s infinite;
}

@keyframes estirar{
    0%{
        color: #fff;
    }
    50%{
        color: red;
    }
    100%{
       color: #fff;
    }
}



.header__menu__ul li a{
    color: #fff;
    text-decoration: none;
}
/* -------------------------------------------HERO */
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #373b44, #4286f4);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__container{
    width: 80%;
    height: 72%;
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero__item{
    max-width: 500px;
    min-width: 100px;
    padding: 20px;
}
.hero__wave{
    width: 100%;
    height: 95px;
    position: absolute;
    bottom: -10px;
}
.continuar{
    position: absolute;
    bottom: 54px;
    width: 75px;
    height: auto;
}
/* -------------------------------------------SOBRE MI */
.sobreMi{
    width: 100%;
}
.datos{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.datos a{
    font-size: 20pt;
    margin: 8px;
}
/* -------------------------------------------MIS COSAS */
.misCosas{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.misCosas__item{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 10px 50px;    
    box-shadow: 0px 4px 7px 1px rgb(0 0 0 / 38%);
    background-image: url('image/japanese_wave.png');
    background-attachment: fixed;
    background-size:cover;
    border-radius: 8px;
}
.hacheDos{
    margin-bottom: 10px;
    text-align: center;
}
.pe{
    text-align: center;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16pt;
    transition: all .6s;
}
.pe.active{
    max-height: 1000px;
    padding: 0;
}

/* ------------------------------------trabajos */

.carrousel{
    margin: auto ;
    margin-top: 20px;
    width: 50%;
    min-width: 350px;
    overflow: hidden;
}
.grande{
    width: 1300%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: .8s ease-in-out;
}
.imagen{
    width: calc(100% / 13);
    min-height: 10vh;
}
.menu{
    margin-bottom: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.boton{
    margin: 5px;
    margin-top: 10px;
}
.boton.active{
    border-radius: 50%;
    transform: scale(1.2);
    transition: transform .5s;
}
.boton img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
/* ------------------------------------remeras */
.wave_2{
    width: 100%;
    height: 68px;
    position: absolute;
    top: -29px;
    transform: rotate(180deg);;
}
.remera__container > .titulo{
    color: #fff;
    padding-bottom: 30px;
}
.remera{
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #373b44, #4286f4);
    position: relative;
}
.remera__container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.remera_content{    
    width: 80%;
    margin: 0 auto;
    min-width: 30px;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.remera__photo{
    max-width: 450px;
    max-height: 450px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.remera__photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.remera__texto{
    position: absolute;
    width: 100%;
    background-color: #122e5a96;
    color: white;
    text-align: center;
    padding: 5px 0 10px 0;
    transition: transform .6s;
}
.remera__texto p{    
    font-size: 16pt;
}
.remera__photo:hover .remera__texto{
    transform: translateY(-100%);
}
/* ------------------------------------pieDePagina */
.pie{
    width: 100%;
    position: relative;
}
.subir{
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 40px;
    height: auto;
}
.footer{
    width: 100%;
    background-color: rgb(63, 84, 122);
}    
.footer p{
    padding: 15px;
    color: #fff;
    text-align: center;
}
@media screen and (min-width: 800px) {
    html{
        scroll-padding-top: 80px;
    }
    /* --------------------------------------HERO */
    .hero__container{
        flex-direction: row;
        justify-content: space-around;
    }
    .hero__item:last-child{
        max-width: 700px;
    }
    /* --------------------------------------PALABRAS */
    .palabras{
        flex-direction: row;
        align-items: center;
        margin: 40px auto;
    }
    .palabras__imagen{
        max-width: 350px;
    }
    .palabras__txt{
        font-size: 20pt;
    }
    /* --------------------------------------SOBRE MI */
    .misCosas{
        width: 80%;
        gap: 20px;
    }
    .misCosas__item{
        height: auto;
    }    


}
