*{    
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    font-size:x-large;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
html{    
    scroll-padding-top: 125px;
}
body{
    width: 100%;
}
/* ------------------------------------header */

.header{
    width: 100%;
    background-color: rgb(63, 84, 122);
    box-shadow: -5px 2px 11px 0px rgba(0,0,0,0.65);
    position: fixed;
    z-index: 100;
}
.header__ul{
    width: 90%;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__ul li{
    padding-left: 25px;
}
.header__ul a{
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 700px){
    .header__ul{
        justify-content: center;
    }
}

/* ------------------------------------hero */

.hero__fondo{
    background: linear-gradient(to right, #373b44, #4286f4);
    width: 100%;
    height: calc(100vh - 90px);
    margin-bottom: 4rem;
    position: relative;
}
.hero{
    width: 80%;
    height: 800px;
    margin: auto;
    padding-top: 120px;
}
.hero__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}
.hero__item{
    flex: 1;
    padding: 15px;
}
.hero__item:nth-child(2){
    flex: 2;
    padding: 80px;
}
.bajar{
    position: absolute;
    right: 50%;
    bottom: 60px;
}
.bajar__marco{
    width: 100px;
    height: 121px;
    overflow: hidden;
}
.bajar img{
    width: 100%;
    height: 232px;
    transform: translateY(-112px);
    transition: transform 1.5s;
    padding: 3px;
}
.bajar img:hover{ 
    transform: translateY(0px);
}

.wave{
    width: 100%;
    height: 155px;
    position: absolute;
    bottom: -58px;
}
@media only screen and (max-width: 700px){

}

/* ------------------------------------titulo */

.titulo{
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    position: relative;
    padding-top: 15px;
}

@media only screen and (max-width: 700px){
    .titulo::before , .titulo::after{
        display: none;
    }
}

/* ------------------------------------sobreMI */
.sobreMi{
    padding-bottom: 1.5rem;
}
.sobreMi__container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobreMi__container p{
    text-align: center;
    margin: 20px;
}
.sobreMi__container a{
    font-size: 1.5em;
}
.palabrasImagen{/* ------------------------------------palabraImagen */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px auto;
    flex-wrap: wrap;
    box-shadow: -5px 2px 11px 0px rgba(0,0,0,0.75);
    border: #fff;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.336);
    width: 80%;
}
.palabrasImagen p{/* ------------------------------------palabraImagen */
    width: 100%;
    flex: 3;
    text-align: center;
    order: 1;
    font-size: 30pt;
    padding: 15px 25px;
}
.palabrasImagen img{
    width: 100%;
    max-width: 500px;
    height: 100%;
    object-fit: cover;
    padding: 15px;
    flex: 1;
}

.misCosas_papa{
    width: 90%;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.misCosas_hijos{
    max-width: 425px;
    box-shadow: -5px 2px 11px 0px rgba(0,0,0,0.65);
    border: #fff;
    border-radius: 13px;
    overflow: hidden;
    transition: transform .8s;
    background-color: #fff;
}
.misCosas_hijos h2{
    text-align: center;
    padding: 30px 25px;
    width: 100%;
    background: linear-gradient(to right, #373b44, #4286f4);
    color: #fff;
}
.misCosas_hijos:hover{
    transform: scale(1.1);
}

/* ------------------------------------trabajos */

.trabajos{
    margin-bottom: 4rem;
    width: 100%;
    height: 100%;
    position: relative;
}
.trabajo__container{
    width: 80%;
    margin: 0 auto;
}
.galeria__ul{
    position: relative;
    width: 65%;
    margin: auto;
    height: 670px;
}
.galeria__ul li{
    width: 100%;
    height: 700px;
    background-color: #fff;
    opacity: 0;
    padding: 20px;
    position: absolute;
    list-style: none;    
}
.galeria__ul li:first-child{
    opacity: 1;
}
.galeria__ul li:target{
    opacity: 1;
}
.galeria__ul img{
    width: 100%;
    object-fit: contain;
    padding-bottom: 30px;
    background-color: #fff;
}
.galeria__menu_ul{
    margin: 25px 0;
    display: flex;
    justify-content: center;
}
.galeria__menu_ul li{
    margin: 5px;
    transition: transform .8s;
    list-style: none;
}
.galeria__menu_ul li:hover{
    transform: scale(1.2);
}
.galeria__menu_ul img{
    border-radius: 100%;
}

/* ------------------------------------remeras */
.wave_2{
    width: 100%;
    height: 155px;
    position: absolute;
    top: -40px;
    transform: rotate(180deg);
}
.remera__container > .titulo{
    color: #fff;
}
.remera{
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #373b44, #4286f4);
    position: relative;
}
.remera__container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.remera__container> .palabrasImagen img{
    order: 3;
}
.remera_content{    
    width: 100%;
    min-width: 30px;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.remera__photo{
    max-width: 450px;
    max-height: 450px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.remera__photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.remera__texto{
    position: absolute;
    width: 100%;
    background-color: #1a428385;
    color: white;
    text-align: center;
    padding: 20px 0 30px 0;
    transition: transform .6s;
}
.remera__texto p{    
    font-size: 1.5rem;
}
.remera__photo:hover .remera__texto{
    transform: translateY(-100%);
}

/* ------------------------------------pieDePagina */
.pie{
    width: 100%;
    position: relative;
}

.subir{
    position: absolute;
    top: -150px;
    right: 50px;
}
.subir__marco{
    width: 100px;
    height: 115px;
    overflow: hidden;
}
.subir img{
    width: 100%;
    height: 232px;
    transform: translateY(0px);
    transition: transform 1.5s;
    padding: 3px;
}
.subir img:hover{ 
    transform: translateY(-112px);
}

.footer{
    width: 100%;
    background-color: rgb(63, 84, 122);
}
    
.footer p{
    padding: 15px;
    color: #fff;
    text-align: center;
}

