*{
    font-family: 'JetBrains Mono', monospace;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #1B2223;
    color: #F4FEFD;
}
header{
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo h4{
    width: 100%;
}
.logo h4::before{
    content: '<';
    color: #3EAC0B;
}
.logo h4::after{
    content: '>';
    color: #3EAC0B;
}
.menu{
    width: 40px;
    height: 40px;
    background-color: #3A4F50;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    margin: 70px 20px 0;
}
.subtexto{
    margin: 0 10px;
}
.titulo{
    color: #3EAC0B;
    margin-bottom: 30px;
    text-align: center;
}
.intro h1::after{
    content: '{...}';
}
.boton{
    margin: 30px auto 0;
    cursor: pointer;
    background-color: #3A4F50;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.forHover{
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: -35%;
    transition: transform 2s ease-in-out;
}
.boton:hover .forHover{
    transform: translateX(90%);
}
.myPhoto{ 
    height: 102px;
    z-index: 10;
    position: relative;
}
.myPhoto::after{
    content: 'clickMe!!!';
    position: absolute;
    top: 40%;
    left: -140px;
    color: #3A4F50;
    font-size: 20px;
    font-weight: bold;
}
.myPhotoBack{
    position: absolute;
    height: 99px;
    width: 270px;
    left: -220px;
    background-color: #D9D9D9;
}
.botonContent{
    margin-left: 40px;
}
.botonContent p:nth-child(1){
    font-size: 20px;    
    width: 110%;
}
.botonContent p:nth-child(2){
    font-size: 16px;
    margin-top: 7px;
    color: #0EF6CC;
    width: 110%;
}
.designWork{
    margin: 100px 0 0;
}
.titulo.azul{
    color: #7775EC;
    margin: 0 20px;
}
.titulo.azul h1::after{
    content: '{...}';
}
.carrousel img{
    margin-left:-20;
    margin-right:-20;
}
.playLearn{
    margin: 70px 20px 0;
}
.playLearnContent p{
    width: 80%;
    margin: 40px auto;
    text-align: center;
}
.contact{
    margin: 100px 0 0;
}






.botonRs{
    margin: 30px auto 0;
    cursor: pointer;
    background-color: #3A4F50;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.forHoverRs{
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: -35%;
    transition: transform 2s ease-in-out;
}
.botonRs:hover .forHoverRs{
    transform: translateX(90%);
}
.myPhotoRs{ 
    height: 102px;
    z-index: 10;
    position: relative;
}
.myPhotoRs::after{
    content: 'clickMe!!!';
    position: absolute;
    top: 40%;
    left: -140px;
    color: #3A4F50;
    font-size: 20px;
    font-weight: bold;
}
.myPhotoBackRs{
    position: absolute;
    height: 99px;
    width: 270px;
    left: -178px;
    background-color: #D9D9D9;
}
.botonContentRs{
    margin-left: 40px;
}
.botonContentRs p:nth-child(1){
    font-size: 20px;    
    width: 110%;
}
.footer{
    margin-top: 70px;
    background-color: #3A4F50;
    width: 100%;
}
.footer p{
    color: #0EF6CC;
    text-align: center;
    padding: 8px;
}